*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  column-gap: 30px;
}

.result__video {
  margin-top: 78px;
  max-width: 711px;
}

.search-form {
  display: grid;
  grid-template-columns: 225px 212px 194px;
  justify-content: space-between;
}

/* ГОРОДА */

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.search-form__textfield {
  width: 100%;
  border: 1px solid white;
  border-right: none;
  border-left: none;
  background: transparent;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
}

/* ВРЕМЯ СУТОК */

label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid white;
}

input[type="checkbox"]:checked + span {
width: 15px;
height: 15px;
background-color: white;
}

/* ПРАВАЯ КОЛОНКА */

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}