*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  column-gap: 30px;
}

.result__video-container {
  margin-top: 74px;
  position: relative;
  height: 386px;
}


.result__video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  margin-top: 12px;
  display: grid;
  grid-template-columns: 225px 212px 194px;
  justify-content: space-between;
  align-items: end;
}

/* ГОРОДА */

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-top: 4px;
  font-weight: 400;
  font-size: 18px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.search-form__textfield {
  margin-top: 6px;
  width: 100%;
  border: 1px solid white;
  border-right: none;
  border-left: none;
  background: transparent;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  color: white;
}

.search-form__textfield:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

/* ВРЕМЯ СУТОК */

.search-form__checkbox-list {
  margin-top: 7px;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
}

.search-form__checkbox-list .search-form__label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-form__pseudo-checkbox:not(:first-child) {
  margin-left: 2px;
}

.search-form__label:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__label:hover {
  text-decoration: underline;
}

.search-form__checkbox {
  display: none;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  outline: 1px solid white;
  outline-offset: 1px;
}

input[type="checkbox"]:checked + span {
  background: white;
}

.search-form__label-text {
  display: inline-block;
  margin-left: 7px;
  line-height: 19px;
}

/* КНОПКА */

.button {
  height: 34px;
  padding: 0;
  background-color: transparent;
  border: 1px solid white;
  font-weight: 700;
  font-size: 18px;
  color: white;
  cursor: pointer;
  font-family: inherit;
}


button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: -3px;
}

/* ПРАВАЯ КОЛОНКА */

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  margin-top: 24px;
  height: 296px;
  overflow: auto;
}

.content__list-item {
  margin-bottom: 24px;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__list-item:active {
  background-color: #545050;
}

.content__list-item:focus-visible {
  border: 1px solid white;
}

.content__card-link {
  text-decoration: none;
  text-decoration-color: white;
}

.content__card-link_current {
  display: block;
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  color: white;
}

.content__video-card-title {
  margin-top: 2px;
  margin-left: 2px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 29px;
  line-height: 100%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 192px;
}

.content__video-card-description {
  margin-left: 2px;
  margin-top: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 192px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  margin-right: 4px;
  max-width: 194px;
}

.more-button {
  width: 100%;
}


